body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0E0E0E;
    color: #FFFFFF;
    margin: 0px 12px 0px;
    font-size: 12px;
    text-align: center;
    touch-action: manipulation;
}
.language {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    padding-right: 6px;
    background: rgba(256, 256, 256, 5%);
    border-radius: 15px;
    flex-wrap: wrap;
}

.language * {
    margin: 8px 12px 9px;
    font-size: 15px;
    opacity: 0.8;
}

#kr {
    font-weight: bold;
}

#jp {
    opacity: 0.3;
}

#mainTitle, #subTitle {
    margin: 0;
    color: #FFFFFF;
}

#mainTitle {
    font-size: 25px;
    font-weight: 900;
    margin-top: -5px;
}

#subTitle {
    font-size: 14px;
    font-weight: 400;
}

.webServiceTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
button {
    padding: 7px 11px 7px;
    border-radius: 11px;
    color: #FFFFFF;
    background-color: #0A84FF;
    font-weight: bold;
    margin-right: 12px;
    margin-bottom: 9px;
    border: none;
    /* box-shadow: 0 2px #0068B8; */
}
.input {
    text-align: center;
}

.tagTab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 11px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
}

.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#placeholder {
    font-size: 15px;
    widows: 100%;
    display: flex;
    color: black;
    opacity: 0.25;
    padding-top: 4px;
    padding-bottom: 16px;
    margin: auto;
    height: 20.4px;
}

.refreshTab {
    display: flex;
    justify-content: flex-end;
}

#refreshButton {
    color: #FFFFFF;
    font-weight: bold;
    background-color: rgb(222, 34, 34);
    padding: 7px 11px 7px;
    margin-bottom: 9px;
    border-radius: 11px;
    display: none;
}

.inputSpan {
    color: black;
    border-radius: 8px;
    padding: 6px 12px 7px;
    background-color: rgba(0, 0, 0, 10%);
    margin-right: 12px;
    box-shadow: none;
}
#delete {
    opacity: 0.3;
}

.output {
    text-align: center;
}

#outputTitle {
    text-align: left;
    font-size: large;
    margin-bottom: 9px;
    visibility: hidden;
}

#outputArea {
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    border: none;
    justify-content: center;
    padding-top: 12px;
}

